@charset "UTF-8";
/**Couleur de fond**/
/**Couleur du texte**/
/** Couleur ombre **/
/**Police d'écriture**/
/** Taille texte **/
/** Durée animation **/
/** Animation points Prochainement **/
/** Menu **/
/** Height **/
@font-face {
  font-family: "prompt";
  src: url("/sources/fonts/prompt/Prompt-SemiBoldItalic.ttf") format("ttf"), url("/sources/fonts/prompt/prompt-semibold-webfont.woff2") format("woff2"), url("/sources/fonts/prompt/prompt-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissant";
  src: url("/sources/fonts/croissant/CroissantOne-Regular.ttf") format("ttf"), url("/sources/fonts/croissant/croissantone-regular-webfont.woff2") format("woff2"), url("/sources/fonts/croissant/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("/sources/fonts/montserrat/Montserrat-Black.ttf") format("ttf"), url("/sources/fonts/montserrat/montserrat-black-webfont.woff2") format("woff2"), url("/sources/fonts/montserrat/montserrat-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan";
  src: url("/sources/fonts/kaushan/KaushanScript-Regular.ttf") format("ttf"), url("/sources/fonts/kaushan/kaushanscript-regular-webfont.woff2") format("woff2"), url("/sources/fonts/kaushan/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshire";
  src: url("/sources/fonts/devonshire/Devonshire-Regular.ttf") format("ttf"), url("/sources/fonts/devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("/sources/fonts/devonshire/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing";
  src: url("/sources/fonts/dancing/DancingScript-VariableFont_wght.ttf") format("ttf"), url("/sources/fonts/dancing/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("/sources/fonts/dancing/dancingscript-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveat";
  src: url("/sources/fonts/caveat/Caveat-Regular.ttf") format("ttf"), url("/sources/fonts/caveat/caveat-regular-webfont.woff2") format("woff2"), url("/sources/fonts/caveat/caveat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes rebond {
  0% {
    transform: scale(0);
  }
  28% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  62% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ombre {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.4);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/** Mise en page Header & Footer **/
/** Flex **/
/** Bordure **/
/** Cercle **/
/** Menu **/
/** Ombre **/
/** Taille texte **/
/** Formatage titre Menu **/
/** Dégradé **/
.footer {
  background-color: #579c87;
  color: #fdcb46;
  z-index: 10;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.footer .lien-a {
  font-family: "prompt";
  font-size: 4vw;
  position: relative;
  padding: 0.5rem 0 0.5rem;
  margin: 0 0.5rem;
  color: #fdcb46;
  text-decoration: none;
}
.footer .lien-a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #fdcb46;
  transition: transform 250ms;
}
.footer .lien-a:hover::after {
  transform-origin: 0% 50%;
  transform: translateX(-50%) scaleX(1);
}

.ohmyfood {
  height: 100px;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "montserrat";
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}
.ohmyfood:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
}

.section-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.article-index {
  width: 800px;
  flex-direction: row;
}
.article-index ul.list-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.article-index ul.list-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px 2px rgba(51, 51, 51, 0.63);
  border: 1px solid #0000003f;
  margin: 20px 20px;
  transform: scale(1);
  transition: all 200ms;
}
.article-index ul.list-menu li:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px 3px rgba(51, 51, 51, 0.247);
}

h3 {
  margin-top: 2rem;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: "caveat";
}

.prochainement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  color: #fdcb46;
  border-radius: 15px;
  width: 400px;
  height: 50px;
  margin: 10px;
}
.prochainement .texte-prochainement {
  padding-right: 5px;
  font-family: "prompt";
  font-size: 4vw;
}
.prochainement .points {
  margin-top: 5%;
  width: 30px;
  height: 5px;
  display: flex;
  justify-content: space-evenly;
}
.prochainement .points__point {
  border-radius: 50%;
  background-color: #fdcb46;
  height: 100%;
  width: 5px;
}
.prochainement .points__point--1 {
  z-index: 2;
  animation: rebond 1100ms infinite;
  animation-direction: alternate;
  animation-delay: 366.6666666667ms;
  animation-fill-mode: forwards;
}
.prochainement .points__point--2 {
  z-index: 2;
  animation: rebond 1100ms infinite;
  animation-direction: alternate;
  animation-delay: 733.3333333333ms;
  animation-fill-mode: forwards;
}
.prochainement .points__point--3 {
  z-index: 2;
  animation: rebond 1100ms infinite;
  animation-direction: alternate;
  animation-delay: 1100ms;
  animation-fill-mode: forwards;
}

.__section h2 {
  padding-top: 50px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.63);
}

.titre-menu {
  margin-top: 50px;
  padding-bottom: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titre-menu-bas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre-menu-bas .iconote {
  font-size: 3rem;
}

table {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 2rem;
}
table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table td {
  padding-bottom: 5px;
}
table th {
  font-size: 2.5rem;
  padding-top: 50px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titre-tableau {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px 20px 80px;
  font-size: 2.5rem;
}

.trait {
  width: 35%;
}

/** index.html **/
.menu__note, .menu__chic, .menu__papilles, .menu__gout {
  width: 300px;
  height: 500px;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu__note {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "devonshire";
  font-size: 1.3rem;
}
.menu__note .text-note {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu__note .iconote {
  margin-right: 15px;
  font-size: 3rem;
  background: linear-gradient(to right, #f04a5e, #f78f6a);
  background-color: linear-gradient(to right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  color: transparent;
}
.menu__note h3 {
  text-transform: uppercase;
}

.menu__chic {
  background-color: #fff5fe;
  font-family: "croissant";
  font-size: 0.9rem;
}
.menu__chic h3 {
  font-family: "croissant";
  color: #c77412;
}

.text-chic {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, #c77412, #906bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__papilles {
  background-color: #f9f9f9;
  font-family: "dancing";
  font-size: 1.4rem;
}
.menu__papilles .text-papilles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: -webkit-linear-gradient(left, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__papilles h3 {
  color: #0431df;
}

.menu__gout {
  background-color: #fff;
  font-family: "kaushan";
  font-size: 1.5rem;
}
.menu__gout .text-gout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: -webkit-linear-gradient(left, #3d9339, #72bf56, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__gout h3 {
  color: #3d9339;
}

.bg-menu {
  box-shadow: 0 0px 15px 2px rgba(51, 51, 51, 0.247);
  flex-direction: column;
  place-content: space-between center;
  width: 1100px;
  height: 1200px;
  margin-bottom: 90px;
}

.text-menu {
  border: 1px solid #0000003f;
  position: relative;
  width: 500px;
  height: 80px;
  display: flex;
  place-content: space-around center;
  flex-flow: column wrap;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "caveat";
}
body ul, body h1, body h2, body h3, body p {
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 750px) {
  .article-index {
    width: 100%;
  }
  .article-index ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1130px) {
  .__section .__note, .__section .__chic {
    width: 90%;
    height: 90%;
  }
  .__section h2 {
    display: none;
  }
}
@media screen and (min-width: 750px) {
  /** Header & Footer **/
  .text-ohmy {
    font-size: 5rem;
  }

  .footer .lien-a {
    font-size: 1.5rem;
  }

  /** Index.html **/
  .prochainement .texte-prochainement {
    font-size: 1.5rem;
  }

  /** Menu note **/
  /** Menu chic **/
  /** Menu papille **/
  /** Menu gout **/
}
.__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__chic {
  box-shadow: 0 0px 15px 2px rgba(51, 51, 51, 0.247);
  margin-bottom: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 1200px;
  background-color: #fff5fe;
  font-size: 0.9rem;
  font-family: "croissant";
}
.__chic h3 {
  margin-top: 10px;
  font-size: 4rem;
  font-family: "croissant";
}
.__chic p {
  margin-left: 15px;
  margin-right: 15px;
}
.__chic .titre-tableau, .__chic table {
  color: #c77412;
}

.__section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000003f;
  flex-direction: column;
}

.__note {
  background-color: #fcdfdb;
}
.__note .iconote {
  margin-right: 15px;
  font-size: 3rem;
  background: linear-gradient(to right, #f04a5e, #f78f6a);
  background-color: linear-gradient(to right, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5rem;
}
.__note h3 {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "devonshire";
  font-size: 1.3rem;
  font-size: 4rem;
}
.__note th p {
  margin-left: 15px;
  margin-right: 15px;
}
.__note .titre-tableau, .__note table {
  color: #3c1218;
}

/*# sourceMappingURL=style.css.map */
