
.article-index {
    width:          700px;
    flex-direction: row; 
}


h3 {
    margin-top:  2rem;
    font-weight: bolder;
    font-size:   map-get($font-size, 'text-menu');
    font-family: map-get($font-family, 'base');
}


.prochainement {
    @include       tout-centrer;
    @include       formatage-vertjaune;
    border-radius: 15px;
    width:         400px;
    height:        50px;
    margin:        10px;
    
    & .texte-prochainement {
        padding-right: 5px;
    }
    & .points {
        margin-top:      5%;
        width:           $size*6;
        height:          $size;             
        display:         flex;
        justify-content: space-evenly;
        &__point {
            @include cercle;
            @include rebond;
        }
    }
}

.section-index {
    @include        tout-centrer;
    flex-direction: column;
    margin-bottom:  80px;
    & h5 {
        display: none;
    }
}

.__section {
    @include tout-centrer;
    @include border;
    flex-direction: column;
    & h2 {
        padding-top: 50px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: map-get($map: $font-size, $key: 'titre-menu');
        color: darken($gris-fonce, 50);
    }
}

.bg-titre-tableau {
    @include tout-centrer;
    justify-content: space-between;
}