.bg-menu {
    @include ombre-menu-2;
    width: 1000px;
    height: 1100px;
    margin-bottom: 90px;
}
.menu-content {
    margin-left: 50px;
    margin-right: 50px;
}

.bg-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.text-menu {
    place-content: center space-around;
    flex-flow: column wrap;
}

.list-menu {
    @include         tout-centrer;
    flex-flow:       row wrap;
    & .menu {
        @include taille-menu;
        @include tout-centrer;
        @include ombre-menu;
        @include border;
        @include texte-menu;
        flex-direction: column;    
        margin:  20px 20px;
        overflow: hidden;
    }
}   

.transform {
    @include taille-menu;
    @include tout-centrer;
    flex-direction: column;    
    transform: scale(1);
    transition: all $dur-transi;
    &:hover {
        transform: scale(1.08);
        opacity: 65%;
    }        
}

.menu-detail {
    //@include border;
    display: flex;
    flex-direction: row;
    place-content: center space-between;
}

.titre-menu {
    padding-bottom: -15px;
    @include tout-centrer;
    flex-direction: column;
}

.titre-menu-bas {
    margin-top: 50px;
    @include tout-centrer;
    & .iconote {
        font-size: 3rem;
    }
}

.padding-lr {
    padding: 0 100px 0 100px;
}

.titre {
    display: flex;
    flex-direction: row;
}