.center {
    @include tout-centrer;
    flex-direction: column;
    padding-bottom: 50px;
}

.mentions {
    flex-direction: column;
    text-align: center;
    width: 1000px;
    height: 100%;
    & h2 {
        padding-top: 30px;
        padding-bottom: 20px;
        font-family: $base;
        font-size: map-get($map: $font-size, $key: 'titre-menu');
        color: darken($gris-fonce, 50);
    }
}

.mentions-titre {
    text-decoration: underline;
    text-transform: capitalize;
}