/** index.html **/

.menu__note {
    @include __note;
    & .text-note {
        @include        tout-centrer; 
        flex-direction: column;  
    }
    & .iconote {
        @include iconote;
    }
    & h3 {
        text-transform: uppercase;
    }
}

.menu__chic {
    background-color: map-get($background-color, 'chic' );
    color:            map-get($color-text, 'chic');
    font-family:      map-get($font-family, 'chic');
    font-size:        map-get($font-size,'chic');
    & h3 {
        font-family: map-get($map: $font-family, $key: 'chic');
        color:       map-get($map: $color-text, $key: 'chic-1');
    }
}

.text-chic {
    @include                 tout-centrer; 
    background:              -webkit-linear-gradient(left, $colortext-chic-1, $colortext-chic-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__papilles {
    background-color: map-get($background-color, 'papilles' );
    color:            map-get($color-text, 'papilles');
    font-family:      map-get($font-family, 'papilles');
    font-size:        map-get($font-size,'papilles');
    & .text-papilles {
        @include                 tout-centrer; 
        flex-direction:          column;  
        background:              -webkit-linear-gradient(left, $colortext-papilles-1, $colortext-papilles-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & h3 {
        color: map-get($map: $color-text, $key: 'papilles-1');
    }

}

.menu__gout {
    background-color: map-get($background-color, 'gout' );
    color:            map-get($color-text, 'gout');
    font-family:      map-get($font-family, 'gout');
    font-size:        map-get($font-size,'gout');
    & .text-gout {
        @include                 tout-centrer; 
        flex-direction:          column;  
        background:              -webkit-linear-gradient(left, $colortext-gout-1, $colortext-gout-2, $colortext-gout-3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & h3 {
        color: map-get($map: $color-text, $key: 'gout-1');
    }

}

.bg-menu {
    @include ombre-menu-2;
    flex-direction: column;
    place-content: space-between center;
    width: 1100px;
    height: 1200px;
    margin-bottom: 90px;
}

.text-menu {
    @include border;
    position: relative;
    width: 500px;
    height: 80px;
    display: flex;
    place-content: space-around center;
    flex-flow: column wrap;
}

.list-menu {
    @include         tout-centrer;
    flex-flow:       row wrap;
    & .menu {
        @include taille-menu;
        @include tout-centrer;
        @include ombre-menu;
        @include border;
        @include texte-menu;
        flex-direction: column;    
        margin:  20px 20px;
        overflow: hidden;
    }
}   

.transform {
    @include taille-menu;
    @include tout-centrer;
    flex-direction: column;    
    transform: scale(1);
    transition: all $dur-transi;
    &:hover {
        transform: scale(1.08);
        opacity: 65%;
    }        
}

@each $text, $valeur in $font-size {
    .menu__#{$text} {
        font-size: map-get($font-size, $valeur);
    }
}

@mixin menu-list($restau) {
    @each $restau, $value in $menu-list {
        .menu-#{restau} {
            background-color: map-get($value, 'bg') ;
            color:            map-get($value, 'txt');
            font-family:      map-get($value, 'font');
            font-size:        map-get($value, 'size');
        }
    }
}

