@mixin bouton-footer {
    padding:  .5rem 0 0.5rem;
    margin:   0 0.5rem;
    text-decoration: none;
    transform: rotate(1);
    &:hover {
        animation: wiggle $dur-transi infinite;
        animation-timing-function: linear;
        }  
    }