/** Mise en page Body **/

@mixin Body {
    padding: 0;
    margin: 0;
    width: 100%;
    @include font-body;
    & ul {
        margin: 0;
        padding: 0;
    }
    & a {
        text-decoration: none;
        color: black;
    }
}

/** Mise en page Header & Footer **/

@mixin formatage-vertjaune {
    background-color: $colour-primary;
    color: $colortext-primary;
}

/** Flex **/

@mixin tout-centrer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Bordure **/

@mixin border {
    border: 1px solid black;
}