@mixin padmarg0 {
    padding: 0;
    margin:  0;
}

/** Mise en page Header & Footer **/

@mixin formatage-vertjaune {
    background-color: $colour-primary;
    color:            $colortext-primary;
}

/** Flex **/

@mixin tout-centrer {
    display:         flex;
    justify-content: center;
    align-items:     center;
}

/** Bordure **/

@mixin border {
    border: 1px solid #0000003f;
}

/** Cercle **/

@mixin cercle {
    border-radius:    50%;
    background-color: $colortext-primary;   
    height:           100%;
    width:            $size;
}

/** Menu **/

@mixin taille-menu {
    width: 300px;
    height: 500px;
}

/** Ombre **/

@mixin ombre-menu {
    box-shadow: 0 0px 5px 2px $gris-fonce;
}

@mixin ombre-menu-2 {
    box-shadow: 0 0px 15px 2px $gris-fonce-opa;
}

/** Taille texte **/

@mixin texte-menu {
    font-size: $font-size-base;
}

/** Formatage titre Menu **/

@mixin titre-menu {
    font-family: $montserrat;
    font-size: map-get($font-size, 'footer');
    color: $gris-fonce;
}

@mixin __note {
    background-color: map-get($background-color, 'note' );
    color:            map-get($color-text, 'note');
    font-family:      map-get($font-family, 'note');
    font-size:        map-get($font-size,'note');
}

@mixin __chic {
    background-color: map-get($background-color, 'chic' );
    color:            map-get($color-text, 'chic');
    font-family:      map-get($font-family, 'chic');
    font-size:        map-get($font-size,'chic');
}

/** Dégradé **/

@mixin iconote {
    margin-right: 15px;
    font-size:               map-get($font-size, 'iconote');
    background:              linear-gradient(to right, #f04a5e, #f78f6a);
    background-color:        linear-gradient(to right, #f04a5e, #f78f6a);
    -webkit-background-clip: text;
    color:                   transparent;
}