@mixin font-secondaire {
    font-family: map-get($font-family, 'footer');
    font-size:   map-get($font-size, 'xlarge');
}

@mixin font-primary {
    font-family: map-get($font-family, 'headings');
    font-size: map-get($font-size , 'xxlarge');
}