@keyframes rebond {
   0% {
       transform: scale(0);
   }
   28% {
        transform: scale(0);
    }
   50% {
        transform: scale(1.4);
    }
    62% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ombre {
    0% {
        transform: scale(1);
    }
    60% {
         transform: scale(.8);
     }
     100% {
         transform: scale(1.4);
     }
  }

  @keyframes zoom {
      0% {
          transform: scale(1);
      }
      100% {
        transform: scale(1.1);
    }
  }

  @keyframes wiggle {
      0% {
          transform: rotate(1.5deg);
      }
      50% {
          transform: rotate(-1.5deg);
      }
      100% {
          transform: rotate(1.5deg);
      }
  }