.__section {
    @include tout-centrer;
    //@include border;
    flex-direction: column;
}

.__chic {
    @include ombre-menu-2;
    margin-bottom: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 1200px;
    & h3 {
        margin-top: 10px;
        font-size: map-get($font-size, 'titre-menu');
        font-family: map-get($font-family, 'chic');
    }
    & p {
        margin-left: 15px;
        margin-right: 15px;
    }
    & .titre-tableau, table {
        color: $colortext-chic-1;
    }
}

.text-chic {
    @include                 tout-centrer; 
    background:              -webkit-linear-gradient(left, $colortext-chic-1, $colortext-chic-2, $colortext-chic-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
