.__section {
    @include tout-centrer;
    @include border;
    flex-direction: column;
}

.__note {
    background-color: map-get($background-color, 'note');
    & .iconote {
        @include iconote;
        font-size: 5rem;
    }
    & h3 {
        @include __note;
        font-size: map-get($font-size, 'titre-menu');
    }
    & th {
        & p {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    & .titre-tableau, table {
        color: $colortext-note;
    }
}