
.iconote {
    @include iconote;
    font-size: 5rem;
}

.menu__note {
    & .text-note {
        @include        tout-centrer; 
        flex-direction: column;  
    }
    & h3 {
        text-transform: uppercase;
    }
}
