/**Couleur de fond**/

$colour-primary:        #579c87;
$colour-menunote:       #fcdfdb;
$colour-menuchic:       #fff5fe;
$colour-menupapilles:   #edefef;
$colour-menugout:       #fff;

$background-color: (
    'heading':    $colour-primary,
    'note':       $colour-menunote,
    'chic':       $colour-menuchic,
    'papilles':   $colour-menupapilles,
    'gout':       $colour-menugout
);

/**Couleur du texte**/

$colortext-primary:    #fdcb46;
$colortext-base:       #000;
$colortext-note:       #3c1218;
$colortext-iconote-1:  #f04a5e;
$colortext-iconote-2:  #f78f6a;
$colortext-chic-1:     #c77412;
$colortext-chic-2:     #a56799;
$colortext-chic-3:     #8f5aff;
$colortext-papilles-1: #0431df;
$colortext-papilles-2: #0670f3;
$colortext-papilles-3: #0887fb;
$colortext-gout-1:     #3d9339;
$colortext-gout-2:     #72bf56;
$colortext-gout-3:     #bfff7e;

$color-text: (
    'heading':    $colortext-primary,
    'base':       $colortext-base,
    'note':       $colortext-note,
    'iconote-1':  $colortext-iconote-1,
    'iconote-2':  $colortext-iconote-2,
    'chic-1':     $colortext-chic-1,
    'chic-2':     $colortext-chic-2,
    'chic-3':     $colortext-chic-3,
    'papilles-1': $colortext-papilles-1,
    'papilles-2': $colortext-papilles-2,
    'papilles-3': $colortext-papilles-3,
    'gout-1':     $colortext-gout-1,
    'gout-2':     $colortext-gout-2,
    'gout-3':     $colortext-gout-3,
);

$color-text-degrade:
    "papilles" $colortext-papilles-1 $colortext-papilles-2 $colortext-papilles-3,
    "chic"     $colortext-chic-1 $colortext-chic-2 $colortext-chic-3,
    "gout"     $colortext-gout-1 $colortext-gout-2 $colortext-gout-3,
    "mentions" $colortext-gout-1 $colortext-gout-2 $colortext-gout-3 $colortext-base;

/** Couleur ombre **/

$gris-fonce:     rgba(51, 51, 51, 0.63);
$gris-fonce-opa: rgba(51, 51, 51, 0.247);

/**Police d'écriture**/

$devonshire:     'devonshire';
$croissant-one:  'croissant';
$dancing-script: 'dancing';
$kaushan-script: 'kaushan';
$montserrat:     'montserrat';
$prompt:         'prompt';
$caveat:         'caveat';
$base:            Arial, Helvetica, sans-serif;

$font-family: (
    'heading':  $montserrat,
    'base':     $caveat,
    'note':     $devonshire,
    'chic':     $croissant-one,
    'papilles': $dancing-script,
    'gout':     $kaushan-script,
    'footer':   $prompt,
    'mentions': $base,
);

/** Taille texte **/

$font-size-base: 2em;

$font-size: (
    'iconote':              3rem,
    'note':                 1.3rem,
    'note-menu':            2rem,
    'text-menu':            2.5rem,
    'text-tableau':         2rem,
    'chic':                 1.19rem,
    'chic-menu':            .9rem,
    'chic-titre':           1.55rem,
    'chic-titre-menu':      3.5rem,
    'papilles':             1.8rem,
    'papilles-menu':        1.4rem,
    'papilles-titre':       3rem,
    'papilles-titre-menu':  5rem,
    'gout':                 1.75rem,
    'gout-menu':            1.4rem,
    'gout-titre':           3rem,
    'gout-titre-menu':      5rem,
    'base':                 $font-size-base,
    'footer':               2vw,
    'footer-750':           1.5rem,
    'heading':              5vw,
    'heading-750':          5rem,
    'titre-menu':           3rem,
);

/** Durée animation **/
$dur-anim:   1100ms;
$dur-transi: 200ms;

/** Animation points Prochainement **/

$size:      5px;
$num-point: 3;
$anim-delais:$dur-anim/$num-point;

/** Height **/

$height-header: 100px;
$height-footer: 70px;

/** Width **/

$value-width:
    "x-small" 10%,
    "small"   30%,
    "medium"  50%,
    "large"   80%,
    "x-large" 100%;

/** Padding Margin **/

$padmarg:
    "mentions" 10px 10px 50px 15px 30px 10px,
    "note"     10px 15px 30px 1px,
    "papilles" 20px 40px 50px 50px,
    "chic"     30px 30px 50px 50px,
    "gout"     20px 40px 50px 50px;
