@media screen and (max-width: 750px) {
    .article-index {
        width: 100%;
        & ul {
            @include        tout-centrer;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1020px) {
    .__section {
        & .__note, .__chic {
            width: 90%;
            height: 90%;
        }
        & h2 {
            display: none;
        }
    }
}

@media screen and (max-width: 750px) {

    /** Header & Footer **/ 
    
    .text-ohmy {
        font-size: map-get($font-size, 'heading-750');
    }
    
    /** Index.html **/

    .texte-prochainement {
        font-size:  map-get($font-size, 'prochainement-750');
    }

    .article-index {
        width: 100%;
    }

    /** Menu**/

    

    /** Menu chic **/
    /** Menu papille **/
    /** Menu gout **/

}