@media screen and (max-width: 750px) {
    .article-index {
        width: 100%;
        & ul {
            @include        tout-centrer;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1130px) {
    .__section {
        & .__note {
            width: 90%;
            height: 90%;
        }
        & h2 {
            display: none;
        }
    }
}